@charset "utf-8";

@import 'mixin';
@import 'font';
@import 'reset';

*{box-sizing:border-box;margin:0;padding:0}
html{-webkit-text-size-adjust:none}
body{-webkit-overflow-scrolling:touch;min-width:320px;background:#e7f5f2 url(../images/sub/bg_m_error.gif) no-repeat 50% 0;background-size:cover;line-height:1.5;font-family:Noto Sans,Dotum;font-size:13px;font-weight:300;word-break:keep-all;color:#666}
.error-wrap{padding:65vw 10px 80px;text-align:center}
.error-msg>p:not(:last-child){margin-bottom:12px}
.f-msg{letter-spacing:-.5px;font-size:17px;font-weight:500;color:#222}
.error-btn{margin-top:20px;font-size:0}
.error-btn a{display:inline-block;width:94px;height:37px;border-radius:3px;line-height:37px;text-align:center;text-decoration:none;font-size:13px;color:#fff}
.error-btn a:first-child{margin-right:7px;background-color:#1686f0}
.error-btn a:last-child{background-color:#666}

@media screen and (max-width:462px){
	.error-wrap{padding-top:316px}
}

@media screen and (min-width:1217px){
	body{font-size:15px;background-image:url(../images/sub/bg_error.gif);background-size:auto}
	.error-wrap{padding:560px 0 120px}
	.error-msg>p:not(:last-child){margin-bottom:22px}
	.f-msg{letter-spacing:0;font-size:22px}
	.error-btn{margin-top:30px;font-size:0}
	.error-btn a{width:114px;height:46px;line-height:46px;font-size:15px}
	.error-btn a:first-child{margin-right:10px}
}