@charset "utf-8";

// Font Colr
.color-orange {
    color: #f07c3e;
}

.color-red {
  color: #e32d00;
}

.color-blue {
  color: #0060ae;
}

.color-light-blue {
  color: #2d8bcf;
}

.color-black-222 {
  color: #222;
}

.color-black-333 {
  color: #333;
}

.color-gray {
  color: #666;
}

.color-lime {
  color: #04afb5;
}

// Background Color
.bg-green {
  background: #109e84;
}

.bg-purple {
  background: #284885;
}

.bg-gray {
  background: #666;
}

.bg-light-gray {
  background: #999;
}

.bg-blue {
  background: #0060ae;
}

.bg-light-blue {
  background: #2d8bcf;
}

.bg-lime {
  background: #04afb5;
}

.bg-light-wht {
  background: #f5f5f5;
}

.bg-org {
  background: #f58245;
}

// Font Weight
.ft300 {
  font-weight: 300;
}
.ft400 {
  font-weight: 400;
}

// Font Size
.ft-size18 {
  font-size: 18px;
}

.ft-size16 {
  font-size: 16px;
}

.ft-size15 {
  font-size: 15px;
}

.ft-size14 {
  font-size: 14px;
}

.dsp-block {
  display: block;
}

.dsp-in-block {
  display: inline-block;
}

.underline {
  text-decoration: underline;
}