@charset "utf-8";

$font-color-222:#222;
$font-color-333:#333;
$font-color-fff:#fff;
$font-color-eee:#eee;
$font-color-blue:#0060ae;
$font-color-light-blue:#2d8bcf;
$font-color-yellow:#fdc10d;
$font-color-red:#e32d00;

$font-size13:13px;
$font-size14:14px;
$font-size15:15px;
$font-size16:16px;

$back-color-blue:#0060ae;
$back-color-lightblue:#2d8bcf;
$back-color-lightgreen:#04afb5;
$back-color-orange:#f07c3e;

$ft-w300:300;
$ft-w400:400;
$ft-w500:500;
$ft-w700:700;

$dsp-block:block;
$dsp-in-block:inline-block;
$dsp-none:none;
$overflow_hid:hidden;

$posi-rel:relative;
$posi-ab:absolute;
$posi-stc:static;

$fl-left:left;
$fl-right:right;

$txt-left:left;
$txt-center:center;
$txt-right:right;

$url-common-images: "../images/common/";
$url-sub-images: "../images/sub/";
$url-main-images: "../images/main/";

$auto:auto;
$none:none;

$font-name:"Noto Sans";